.container{
    
text-align: center;
margin-left: 682px;
font-size: 23px;
}
.text-align{
    text-align: center;
}
.pad{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 25px;
}
.row{
    
}